/* Define Font Faces */
@font-face {
    font-family: 'zainerinitials_45_mm';
    src: url('zainer-initials45mm-webfont.woff2') format('woff2'),
         url('zainer-initials45mm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Done defining */


.right-image {
    max-width: 100%;
    height: auto;
}

.notes_block {
    padding-left: 1rem;
}
.notes>p {
	display: inline;
}

div.incipit {
	font-size: 85%;
	font-style: oblique;
}

/* CSS for the index page */
img.index-list-pics {
	max-height: auto;
	width: 100%;
	vertical-align:middle;
}

.index-date-old {
	display: block;
	transform: rotate(45deg);
	font-weight: bold;
	font-size: 115%;
	padding-top: 1rem;
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.index-list-old {
	margin-top: 1.5rem;
}

/* global styles */

.normal-text {
    font-family: 'Gentium Book Basic', serif;
}

.normal-text p {
	margin-bottom: .3rem;
}
.normal-text p+p {
	text-indent: 2rem;
}
.normal-text p:first-child:first-letter {
	font-size: 44px;
	line-height: 20px;
	float: left;
	padding-top: 3px;
	padding-right: 2px;
	padding-left: 2px;
	font-family: 'zainerinitials_45_mm', 'Gentium Book Basic', serif;
}

@media only screen and (min-width:960px) {
	.normal-text {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

h1, h2 {
	font-family: 'Raleway', sans-serif !important;
	padding-bottom: 2rem !important;
	padding-top: 1rem !important;
}

h3, h4 {
	font-family: 'Raleway', sans-serif !important;
}

.boundry-image img {
	max-height: 5rem;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.ms_thumbnail {
	max-height:5rem;
	width:auto;
	padding-right: 1rem;
}

.mss_list {
	padding-bottom: 1rem;
	padding-top: 2rem;
}

/* Format embedded tweets */
blockquote.twitter-tweet {
	font-size: smaller;
}

/* fix some weirdness with the google search form */
.submit::-moz-focus-inner { 
    border: 0;
}
#footer-search, .submit {
	border-radius: 0;
    -webkit-appearance: none;
    height: 41px;
}
/* arrows for the previous and next links */
.previous-link a:before { content: "\00AB\00a0"; }
.next-link a:after { content: "\00a0\00BB"; }

/* css for the index of fonds */
/* this class will be overwitten for desktop */
img.fond-index-image {
	max-width: 6rem;
	height: auto;
}
.fond-abstract, .adhoc-abstract {
	padding-top: .5rem;
}
.fond-name, .adhoc-name, .index-date {
	display: block;
	font-weight: bold;
	font-size: 115%;
	text-align: left;
    font-family: 'Raleway', sans-serif;
}
/* indent the abstract and bigger image on desktop */
@media only screen and (min-width:960px) {
	.fond-abstract, .adhoc-abstract, .index-list {
		padding-left: 4rem;
	}
	img.fond-index-image {
		max-width: 10rem;
	}
}
/* add the icon class to a link that opens in a new window to add the icon */
a.icon[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

/* formatting for a nicer definition list. does not work
dl {
	padding: 0.5em;
}
dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
}
dt::after {
	content: ":";
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}
*/

/* formatting a nicer DL, take 2 
https://clicknathan.com/web-design/styling-html-5-description-lists-formerly-known-as-definition-lists-properly/
*/
dl:after {content:"";display:table;clear:both;}
dd {
    padding:.5em 0;
}
dl {
    width:100%;
}
dt, dd {
    display:inline-block;
    width:30%;
}
dt {
    text-align:right;
    font-weight:bold;
    clear:left;
    float:left;
}
dd {
    width:70%;
    padding-left:1rem;
    clear:right;
    margin-bottom: 4.8px;
    padding-top: 8px;
}
dd + dd {
    float:right;
    clear:both;
}
dt:first-child {
    padding-top:.5em;
}
dd + dt {
   clear:both;
    padding-top:.5em;
}
dt + dt {
    width: 100%;
    float: none;
    padding: 0 70% 0 0;
}
dt + dt + dd {
    margin-top: -2em;
}
dt + dt + dd + dt {
    margin-top: 2em;
}
