.right-image {
    float: right;
    max-width: 40%;
    height: auto;
}

.notes-block {
    padding-left: 1rem;
}
.notes>p {
	display: inline;
}

div.incipit {
	font-size: 85%;
	font-style: oblique;
}

/* CSS for the index page */
img.index-list-pics {
	max-height: auto;
	width: 100%;
	vertical-align:middle;
}

.index-date {
	display: block;
	transform: rotate(45deg);
	font-weight: bold;
	font-size: 115%;
	padding-top: 1.5rem;
	text-align: center;
}

div.index-list {
	margin-top: 1.5rem;
}

/* global styles */

.normal-text {
    font-family: 'Gentium Book Basic', serif;
}