/* Define Font Faces */
@font-face {
    font-family: 'zainerinitials_45_mm';
    src: url('zainer-initials45mm-webfont.woff2') format('woff2'),
         url('zainer-initials45mm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Done defining */


.right-image {
    float: right;
    max-width: 40%;
    height: auto;
}

.notes-block {
    padding-left: 1rem;
}
.notes>p {
	display: inline;
}

div.incipit {
	font-size: 85%;
	font-style: oblique;
}

/* CSS for the index page */
img.index-list-pics {
	max-height: auto;
	width: 100%;
	vertical-align:middle;
}

.index-date {
	display: block;
	transform: rotate(45deg);
	font-weight: bold;
	font-size: 115%;
	padding-top: 1.5rem;
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.index-list {
	margin-top: 1.5rem;
}

/* global styles */

.normal-text {
    font-family: 'Gentium Book Basic', serif;
}

.normal-text p {
	margin-bottom: .3rem;
}
.normal-text p+p {
	text-indent: 2rem;
}
.normal-text p:first-child:first-letter {
	font-size: 72;
	line-height: 20px;
	float: left;
	padding-top: 3px;
	padding-right: 2px;
	padding-left: 2px;
	font-family: 'zainerinitials_45_mm', 'Gentium Book Basic', serif;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif !important;
}