[GLOBAL]
NOTES_TABLE=weekly_notes
NOTES_PREVIOUS_TABLE=weekly_notes_previous
NOTES_LINKED_TABLE=weekly_notes_linked
MS_TABLE=manuscripts
YEAR_TABLE=yearly_notes
HOST=<vatican_mss>
DATABASE=<>
PREFIX="/vatican"
BASE_URL="https://digi.vatlib.it/mss"
MS_BASE_URL="https://digi.vatlib.it/view/MSS_"


[GENERATE_DATABASE]
USERNAME=<>
PASSWORD=<>

[INSERT_DATABASE]
USERNAME=<>
PASSWORD=<>
