<ul>
<li>Ghent University: <span class="website_title">Database of Byzantine Book Epigrams</span> <a href="https://www.dbbe.ugent.be/">https://www.dbbe.ugent.be/</a></li>
<li>Giacomo Baroffio: <span class="website_title">Iter Liturgicum Italicum</span> <a href="https://liturgicum.irht.cnrs.fr//fr/">https://liturgicum.irht.cnrs.fr//fr/</a></li>
<li>Menso Folkerts: <span class="website_title">Jordanus, An International Catalogue of Medieval Scientific Manuscripts <a href="https://ptolemaeus.badw.de/jordanus/manuscripts">https://ptolemaeus.badw.de/jordanus/manuscripts</a></li>
<li>Bavarian Academy of Sciences and Humanities: <span class="website_title">Ptolemaeus Arabus et Latinus</span> <a href="https://ptolemaeus.badw.de/start">https://ptolemaeus.badw.de/start</a></li>
