
[%- WRAPPER "wrapper.tt"
 title="Searching for manuscripts"
 url="/vatican/search-test.tt"
 -%]

<link href="/vatican/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script src="/vatican/pagefind/pagefind-component-ui.js" type="module"></script>
<div class="grid-container">
	<div class="grid-x grid-margin-x">

		<pagefind-config bundle-path="/vatican/pagefind/"></pagefind-config>
		<div class="cell small-6 medium-offset-3">
			<pagefind-input></pagefind-input>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="cell small-10">
			<pagefind-results show-images="true" link-target="_blank"></pagefind-results>
		</div>
	</div>
</div>
[% END %]